@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.uploadActions{
    // padding: 0 1.6rem;
    // margin: 0 1.6rem;

    @include tablet{
        // margin: 0 3.6rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 7rem;
        margin-bottom: 3.6rem;
        
    }

    @include desktop{
        margin: 3.6rem 8rem;
    }

    &__publish{
        background-image: url("../../assets/Icons/publish.svg");
        background-repeat: no-repeat;
        background-size: 2rem;
        background-position: 1rem;
        background-color: #0095FF;
        color: white;
        height: 3.6rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.5rem;
        font-weight: 700;
        width: 100%;

        @include tablet{
            width: 18rem;
            height: 4rem;
        }
    }
    &__cancel{
        text-align: center;
        color:#0095FF;
        font-size: 1.5rem;
        
    }

    &__cancelLink{
        text-decoration: none;
    }

    &__newContentWrapper{
        height: 15rem;
        background-image:url("https://en.pimg.jp/046/634/548/1/46634548.jpg") ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
    }

    &__newContentTitle{
        display: flex;
        align-items: center;
        text-align: center;
        color: blue;
        
    }


}