@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  // height: 50rem;
  height: auto;
  width: auto;

  &__mainVideoWrapper {
    background-color: black;
  }

  &__mainVid {
    height: auto;
    width: 100%;
    margin-bottom: 2.4rem;

    @include tablet {
      padding: 0 3.6rem;
      margin-bottom: -0.3rem;
    }

    // modifying the padding for the main picture
    @include desktop{
      padding: 0 15rem;
      height: 55rem;
    }
  }
  &__overview {
    margin-bottom: 1.6rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;

    @include tablet {
      margin: 0 3.6rem;
      margin-bottom: 1.6rem;
    }

    // styling the video overwiew which include description
    @include desktop{
      margin: 0 10rem;
      margin-right: 0;
      // width: 70%;
    }
  }

  &__titleWrapper {
    border-bottom: 2px solid #e1e1e1;
    padding: 2rem 0;

    @include tablet {
      padding-top: 3.6rem;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__title {
    font-size: 2.4rem;
    // margin-bottom:2rem ;
    // margin: 0 1.6rem;

    @include tablet{
      font-size: 3.3rem;
    }
  }

  &__analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 2rem;
    @include tablet {
      padding: 0;
    }

    // fixing the padding for the analytics for the desktop
    @include desktop{
      padding-right: 3rem;
    }

    &--pTags {
      color: gray;
      width: 11rem;
      display: flex;
      align-items: center;
    }
  }

  &__date {
    &--mobile {
      @include mobile {
        display: none;
      }
    }

    @include tablet {
      display: none;
    }
  }

  &__likes {
    @include tablet {
      justify-content: flex-end;
      width: auto;
    }
  }

  &__viewsWrapper {
    display: flex;
    align-items: center;

    &--mobile {
      // display: none;
    }

    @include tablet {
      display: none;
    }
  }

  &__likesWrapper {
    display: flex;
    align-items: center;
  }

  &__tabletWrapperChannel {
    display: flex;
  }

  &__tabletWrapperViewsLikes {
    display: flex;
  }

  &__viewsImg {
    background-image: url("../../assets/Icons/views.svg");
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.3rem;
  }

  &__likesImg {
    background-image: url("../../assets/Icons/likes.svg");
    height: 4rem;
    width: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem;
  }

  &__channel {
    font-size: 1.8rem;
    font-weight: 600;

    @include tablet{
      font-weight: 700;
    }
  }

  // below description of the video
  &__description {
    padding: 1.6rem 0;
    font-size: 1.3rem;
    line-height: 1.8rem;

    @include desktop{
      padding-right:3rem ;
      font-size: 1.5rem;
      line-height: 2.2rem;
      padding-top: 3rem;
    }

  }

  &__viewsDateWrapper {
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__viewsDateWrapperTablet {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: flex;
      align-items: center;
      color: gray;
      width: 45rem;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
  }
  &__viewsWrapperTablet {
    @include tablet {
      display: flex;
      // align-items: center;
    }
  }

  &__viewsTablet{
    justify-content: flex-end;
    width: auto;
  }
}
