@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video{
    // height: 50rem;
    height: auto;
    width: auto;



    &__mainVid{
        height: auto;
        width:100%;
        margin-bottom: 2.4rem;
    }
    &__overview{
        margin: 1.6rem;
    }

    &__title{
        font-size: 2.4rem;
        // margin: 0 1.6rem;
    }

  

}