@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.uploadForm{
    // for each from group

    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin: 1.6rem;

    @include tablet{
        margin: 2.6rem 3.6rem;
    }

    @include desktop{
        gap: 3rem;
    }


    &__group{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    &__label{
        font-weight: 600;
        color: silver;
        font-size: 1.4rem;
    }

    @include tablet{
        padding-bottom: 3rem;
        border-bottom: 2px solid #e1e1e1;
    }

    @include desktop{
        border: none;
        padding-bottom: 0;
        margin-right: 0;
    }
}

.input{
    background-color: $Alabaster;
    border: 2px solid $mercury;
    
    &::placeholder{
        color:black;
    }

    &__addTitle{
        height: 3.6rem;
        // background-color: $Alabaster;
        @include desktop{
            height: 4.6rem;
        }

    }

    &__addDescription{
        height: 10rem;
        // background-color: $Alabaster;
        @include desktop{
            height: 12rem;
        }

        &::placeholder{
            position: relative;
            bottom: 2.5rem;
                }
    }
    // &__addDescription::placeholder{
        
    // }


}