// .uploadMain{
//     padding: 0 1.6rem;
// }

// .uploadActions{

//     display: flex;
//     /* width: 32rem; */
//     align-items: center;
//     justify-content: flex-end;

// }

@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// .form {
//   &--upload {
//     @include tablet {
//     //   background-color: red;
//       position: relative;
//       bottom:2rem ;
//     }
//   }
// }

.uploadMain {

    @include desktop{
        max-width: 1280px;
        margin: auto;
    }
  &__wrapper {
    @include desktop {
      display: flex;
      margin: 0 8rem;
      // border-bottom:2px solid #e1e1e1 ;
      padding-bottom: 1rem;
    }
  }

  &__form{
    @include desktop{
        width: 100%;
    
    }
  }
}
