@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

// modifying the form for the different dimensions
.form {
  margin: 1.6rem;

  @include tablet {
    margin: 3.6rem;
  }

  @include desktop {
    margin: 3rem 10rem;
    margin-right: 0;
  }

  // this is the wrapper for each artice
  &__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e1e1e1;

    @include tablet {
      align-items: center;
    }

    // fixing the spaces in the form in the desktop
    @include desktop {
      padding-right: 3rem;
    }
  }

  // the face image
  &__img {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    height: 3.6rem;
    width: 3.6rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    @include tablet {
      height: 4rem;
      width: 4rem;
    }
  }

  // styling label tag
  &__label {
    font-weight: 600;
    color: grey;
    // modiying the label 'Join the converstation'
    position: relative;
    bottom: 0.8rem;
  }

  // styling the commen in the input tag
  &__comment {
    height: 10rem;
    width: 23rem;
    background-color: $Alabaster;

    border: 2px solid $mercury;

    @include tablet {
      width: 43rem;
      height: 4rem;
    }
  }

  // modifying the comment button
  &__button {
    background-image: url("../../assets/Icons/add_comment.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-position: 1.5rem;
    background-size: 2rem;
    height: 4rem;
    width: 25rem;
    background-color: #0095ff;
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
  }

  // this is the wrpaper for the comment input and button
  &__inputWrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding-bottom: 1.6rem;
    width: 23rem;

    @include tablet {
      width: 90%;
      flex-wrap: nowrap;
      align-items: flex-end;
    }
  }
}

// this is the article for each article
.comments {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 2px solid $mercury;

  @include tablet {
    padding: 1rem 0;
    padding-bottom: 2.6rem;
  }

  @include desktop {
    padding-right: 3rem;
  }
  // targeted the last child element
  &:last-child {
    @include desktop {
      border-bottom: none;
    }
  }

  // styling the wrapper for the name and date of the comments
  &__nameDate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      height: 4rem;
      margin-top: 0.6rem;
    }
  }

  // the commenter's name
  &__name {
    font-size: 1.8rem;
    font-weight: 600;
  }

  // comment date
  &__date {
    color: grey;
  }

  // this is for the text
  &__commented {
    font-size: 1.4rem;
    line-height: 1.8rem;

    @include tablet {
      line-height: 2.2rem;
    }
  }

  &__numberOfComments {
    margin: 0 1.6rem;
    font-weight: 600;
    // fixing number of comments for tablet
    @include tablet {
      margin: 0 3.6rem;
      font-weight: 700;
    }

    @include desktop {
      margin: 0 10rem;
      margin-top: 3rem;
      margin-right: 0;
      padding-right: 3rem;
    }
  }
  &__image {
    height: 3.6rem;
    width: 3.6rem;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 1.6rem 0;

    @include desktop {
      height: 4rem;
      width: 4rem;
    }
  }

  // this is the section that contains name,date and the comment
  &__textWrapper {
    width: 24rem;

    // fixing the width of the comments
    @include tablet {
      width: 90%;
    }
  }
}
